<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Css/ListPhong.css" />
    <link rel="stylesheet" href="../Css/index.css" />
    <title>List Phong</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid" style="max-height: 30px">
        <a class="navbar-brand" href="index.html"> TravelBooking </a>
        <button
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbarNav"
          data-bs-toggle="collapse"
          type="button"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-search"> </i> ICON TÌM KIẾM
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="index.html"> HOME </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#popular"> POPULAR </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#explore"> EXPLORE </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#review"> REVIEW </a>
            </li>
            <div class="vertical-line1"></div>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Login.html"
                style="color: #f9f9f9"
                onmouseover="this.style.color='433e3e'"
                onmouseout="this.style.color='#ff3b3f'"
              >
                SIGN IN
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Register.html"
                style="color: #ffffff"
                onmouseover="this.style.color='433e3e'"
                onmouseout="this.style.color='#ff3b3f'"
              >
                REGISTER
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- search -->
    <section class="hero-section">
      <h1>BEST PLACE TO FIND AND EXPLORE<br />THAT ALL YOU NEED</h1>
      <p>
        Find Best Place, Restaurant, Hotel, Real State and many more think in
        just One click
      </p>
      <div class="search-bar">
        <div class="input-group">
          <span class="input-group-text fw-bold">What?</span>
          <input
            type="text"
            class="form-control"
            placeholder="Ex: Hotel, Homestay, Apartment"
          />
          <span class="input-group-text"><i class="fas fa-list"></i></span>
        </div>
        <div class="vertical-line"></div>
        <div class="input-group">
          <span class="input-group-text fw-bold">Location:</span>
          <input
            type="text"
            class="form-control"
            placeholder="Ex: Sapa, Đà Nẵng, Hội An"
          />
          <span class="input-group-text"
            ><i class="fas fa-crosshairs"></i
          ></span>
        </div>
        <button class="btn btn-search">
          Search <i class="fas fa-search"></i>
        </button>
      </div>
    </section>
    <!-- list phòng -->
    <div class="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h2>TẤT CẢ CHỖ NGHỈ</h2>
            </div>
          </div>
        </div>
        <!-- danh sách -->
        <div class="row">
          <div class="col-md-3">
            <div class="blog_box">
              <a href="House.html"
                ><div class="blog_img">
                  <figure>
                    <img src="../images/blog1.jpg" alt="#" />
                  </figure></div
              ></a>
              <div class="blog_room">
                <a href="House.html"><h3>Bed Room</h3></a>
                <span>The standard chunk </span>
                <p>
                  If you are going to use a passage of Lorem Ipsum, you need to
                  be sure there isn't anything embarrassing hidden in the middle
                  of text. All the Lorem Ipsum generatorsIf you are
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blog_box">
              <div class="blog_img">
                <figure><img src="../images/blog2.jpg" alt="#" /></figure>
              </div>
              <div class="blog_room">
                <h3>Bed Room</h3>
                <span>The standard chunk </span>
                <p>
                  If you are going to use a passage of Lorem Ipsum, you need to
                  be sure there isn't anything embarrassing hidden in the middle
                  of text. All the Lorem Ipsum generatorsIf you are
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blog_box">
              <div class="blog_img">
                <figure><img src="../images/blog3.jpg" alt="#" /></figure>
              </div>
              <div class="blog_room">
                <h3>Bed Room</h3>
                <span>The standard chunk </span>
                <p>
                  If you are going to use a passage of Lorem Ipsum, you need to
                  be sure there isn't anything embarrassing hidden in the middle
                  of text. All the Lorem Ipsum generatorsIf you are
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blog_box">
              <div class="blog_img">
                <figure><img src="../images/blog2.jpg" alt="#" /></figure>
              </div>
              <div class="blog_room">
                <h3>Bed Room</h3>
                <span>The standard chunk </span>
                <p>
                  If you are going to use a passage of Lorem Ipsum, you need to
                  be sure there isn't anything embarrassing hidden in the middle
                  of text. All the Lorem Ipsum generatorsIf you are
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center">
            <button class="btn btn-outline-secondary">Xem thêm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="left">
        <h5>TravelBooking</h5>
        <p>Khám phá thế giới dễ dàng<br />Đặt ngay trên TravelBooking</p>
      </div>
      <div class="right">
        <h5>Nhóm 5</h5>
        <p>Nguyễn Kiến Quốc<br />Hà Ngọc Huy</p>
      </div>
    </div>
  </body>
</html>
