/** blog section **/

.blog {
    /* background:  url("../images/blog_bg.jpg") no-repeat center center/cover; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
    box-shadow: rgba(1, 1, 1, 0.4);
}

.blog .titlepage {
    text-align: center;
    margin-top: 50px;
}

.blog .titlepage h2 {
    color: rgb(34, 109, 170);
    font-weight: 700;
}

.blog .titlepage p {
    color: #1f1d1d;
    font-size: 17px;
    margin-top: 20px;
}

.blog .blog_box {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
    transition: ease-in all 0.5s;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    height:370px;
}
.blog .blog_box p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.blog .blog_box a{
    text-decoration: none;
}
.blog .blog_box .blog_img {
    height:185px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.blog .blog_box .blog_img figure {
    margin: 0;
}

.blog .blog_box .blog_img figure img {
    width: 100%;
    transition: all .5s;
}

.blog .blog_box .blog_img figure img:hover {
    transform: scale(1.2);
}

.blog .blog_box .blog_room {
    height:160px;
    padding: 15px 30px;
    text-align: center;
}

.blog .blog_box .blog_room h3 {
    color: #121212;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    transition: ease-in all 0.5s;
    margin: auto;
}
.stars{
    font-size: 12px;
    color:rgb(255, 187, 0);
}
.stars1{
    font-size: 12px;
    color:rgb(255, 187, 0);
}
.blog .blog_box .blog_room span {
    font-size: 15px;
    color: #ff0909;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.blog .blog_box .blog_room p {
    font-size: 14px;
    line-height: 20px;
}
.blog_room{
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* phân trang */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 7px;
}

.pagination a {
    text-decoration: none;
    padding: 1px 4px;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #007bff;
    color: #ffffff;
}

.pagination span {
    display: inline-block;
    padding: 1px 4px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
}

.pagination a[style="font-weight: bold; text-decoration: underline;"] {
    border: 2px solid #0056b3;
    background-color: #0056b3;
    color: white;
}



 /* footer */
 .footer {
    background-color: #f1f3f5;
    padding: 20px 0;
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
  }
  .footer .left,
  .footer .right {
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }
  .footer .left {
    text-align: left;
  }
  .footer .right {
    text-align: right;
  }
  .footer .left h5,
  .footer .right h5 {
    color: rgb(28, 87, 136);
    font-weight: bold;
  }
/** end blog section **/