/** blog section **/

.blog {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
    box-shadow: rgba(1, 1, 1, 0.4);
}

.blog .titlepage {
    text-align: center;
}

.blog .titlepage h2 {
    color: #fff;
}

.blog .titlepage p {
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
}

.blog .blog_box {
    margin-top: 20px;
    height: 85%;
    text-align: left;
    margin-bottom: 30px;
    transition: ease-in all 0.5s;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height:360px;
}
.blog .blog_box p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.blog .blog_box .blog_img {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.blog .blog_box .blog_img figure {
    margin: 0;
}

.blog .blog_box .blog_img figure img {
    width: 100%;
    transition: all .5s;
}

.blog .blog_box .blog_img figure img:hover {
    transform: scale(1.2);
}

.blog .blog_box .blog_room {
    padding: 33px 30px;
    text-align: left;
}

.blog .blog_box .blog_room h3 {
    color: #121212;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    transition: ease-in all 0.5s;
    margin: auto;
}

.blog .blog_box .blog_room span {
    font-size: 15px;
    color: #ff0909;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.blog .blog_box .blog_room p {
    font-size: 14px;
    line-height: 20px;
}
.blog_room{
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


/** end blog section **/