.room-image {
    overflow: hidden;
    border-radius: 10px;
  }
  .room-details {
    padding: 20px;
  }
  .room-details p,
  h3 {
    text-align: justify;
  }
  .room-features {
    list-style: none;
    padding: 0;
  }
  .room-features li {
    margin-bottom: 10px;
  }
  .thumbnail {
    max-width: 100px;
    cursor: pointer;
    margin: 5px;
    opacity: 0.8;
    height: 80px;
    border-radius: 10px;
  }
  .thumbnail.active {
    opacity: 1;
    border: 2px solid #007bff;
  }
  .thumbnail-container {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .thumbnail-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
   .carousel-item img {
    width: 100%;            /* Đảm bảo ảnh chiếm toàn bộ chiều rộng */
    max-height: 400px;      /* Giới hạn chiều cao để ảnh không bị quá lớn */
    object-fit: contain;    /* Giữ nguyên tỷ lệ ảnh mà không bị cắt bớt */
  }
  .carousel-control-prev-icon {
    padding:13px;
    background-color: #b5b5b5;  /* Màu xanh dương cho mũi tên sau */
    border-radius: 30%;    /* Bo tròn hình tròn của mũi tên */
  }

  /* Thay đổi màu mũi tên sau */
  .carousel-control-next-icon {
    padding:13px;
    background-color: #b5b5b5;  /* Màu xanh dương cho mũi tên sau */
    border-radius: 30%;
            /* Bo tròn hình tròn của mũi tên */
  }
  .slick-slide{
    height:auto
  }