.room-image {
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
  }
  .room-details {
    padding: 20px;
  }
  .room-details p,
  h3 {
    text-align: justify;
  }
  .room-features {
    list-style: none;
    padding: 0;
  }
  .room-features li {
    margin-bottom: 10px;
  }
  .thumbnail {
    max-width: 100px;
    cursor: pointer;
    margin: 5px;
    opacity: 0.8;
    height: 80px;
    border-radius: 10px;
  }
  .thumbnail.active {
    opacity: 1;
    border: 2px solid #007bff;
  }
  .thumbnail-container {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .thumbnail-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }