 /*mũi tên sang trái phải*/
 .carousel-control-prev,
 .carousel-control-next {
   top: 50%;
   transform: translateY(-50%);
   width: 40px;
   height: 40px;
   background-color: rgb(212, 212, 212);
   border-radius: 50%;
   border: 1px solid rgb(255, 255, 255); /* Đổi viền thành màu đen */
   color: black; /* Đổi màu biểu tượng thành màu đen */
 }
 .carousel-control-prev {
   left: -15px; /* Dịch sang trái, tăng giá trị âm nếu muốn ra xa hơn */
 }

 .carousel-control-next {
   right: -15px; /* Dịch sang phải, tăng giá trị dương nếu muốn ra xa hơn */
 }
 .carousel-control-prev:hover,
 .carousel-control-next:hover {
   background-color: rgb(186, 186, 186);
   color: white; /* Mũi tên đổi thành màu trắng khi hover */
 }
  
 * {
   box-sizing: border-box;
 }
 body {
   font-family: "Roboto Flex", sans-serif;
 }
 .navbar {
   padding: 0.8rem;
 }
 .navbar-brand {
   font-size: 25px;
   font-weight: bold;
   color: #ffffff;
 }
 .navbar-nav .nav-link {
   color: rgb(255, 255, 255);
   margin-right: 1rem;
   font-size: 14px;
   font-weight: 600;
 }
 .navbar-nav .nav-link:hover {
   color: #232323;
 }
 .slick-slide{
    height:auto;
 }
 .navbar {
   background-color: rgb(28, 87, 136); /*Màu xám nhạt*/
   /* opacity: 0.9; */
 }
.btn-outline-secondary{
  border:1.5px solid #e4e4e4;
  color:#bfbfbf;
}

 /*tìm kiếm*/
 .hero-section {
   position: relative;
   background: url("../Picture/banner.jpg") no-repeat center center/cover;
   height: 600px;
   color: white;
   text-align: center;

   display: grid;
   justify-items: center;
   align-content: start;
 }
 /* tạo lớp phủ */
 .hero-section::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(55, 67, 79, 0.7);
   z-index: 1; /* Đặt lớp phủ ở trên hình nền */
   opacity: 0.95;
 }

 .hero-section * {
   position: relative;
   z-index: 2; /* nội dung hiển thị trên lớp phủ */
 }
 .hero-section h1 {
   margin-top: 100px;
   font-size: 45px;
   font-weight: 700;
   letter-spacing: 1.7px;
   line-height: 1.4;
 }
 .hero-section p {
   font-size: 1.2rem;
   margin-top: 30px;
 }
 .search-bar {
   margin-top: 70px;
   display: flex;
   padding: 10px 10px 0 10px;
   width: 90%;
   background-color: #fff;
   border-radius: 5px; /* Bo góc */
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tạo đổ bóng */
 }
 .search-bar .input-group {
   flex: 1;
   margin-right: 10px;
 }
 .search-bar .input-group-text {
   background-color: transparent;
   border: none;
 }
 .search-bar .form-control {
   border: none;
   box-shadow: none;
 }
 .search-bar .btn-search {
   background-color: #ff5a5f;
   color: #fff;
   border: none;
   padding: 10px 20px;
 }
 .search-bar .btn-search i {
   margin-left: 5px;
 }
 .vertical-line {
   border-left: 1px solid #ccc;
   height: 50px;
   margin: 0 10px;
   opacity: 0.5;
 }
 .vertical-line1 {
   border-left: 1px solid #ccc;
   height: 30px;
   margin: 0 10px;
   opacity: 0.5;
 }
 .categories {
   display: flex;
   justify-content: space-around;
   margin-top: -50px;
 }
 .category-card {
   background: white;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   width: 150px;
 }
 .category-card img {
   width: 50px;
   height: 50px;
   margin-bottom: 1rem;
 }
 .category-card h5 {
   font-size: 1rem;
   margin-bottom: 0.5rem;
 }
 .category-card p {
   font-size: 0.9rem;
   color: #777;
 }

 /*địa điểm phổ biến*/
 .section-title {
   text-align: center;
   margin-bottom: 40px;
 }
 .card2 {
   margin-left: 10px;
   margin-right: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
   height: 350px;
   border:1px solid #dfdede;
   border-radius: 10px;
 }
 .card2 img {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;

 }
 .card:hover {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }
 .rating {
   background-color: #003580;
   color: white;
   font-size: 0.8rem;
   padding: 0.2rem 0.4rem;
   border-radius: 0.2rem;
   display: inline-block;
   margin-right: 0.5rem;
 }
 .new-price {
   font-size: 14px;
   font-weight: bold;
   color: black;
 }

 .card-title {
   font-size: 15px;
   text-align: center;
 }
 .card-text {
   font-size: 14px;
   text-align: center;
 }
 .d-flex {
   font-size: 13px;
   display: flex;
   justify-content: center;
 }
 .popular-title {
   text-align: center;
   margin-top: 20px;
   font-size: 24px;
   font-weight: bold;
   color: #333;
 }

 /*tất cả ks*/
 .explore-title {
   text-align: center;
   margin-top: 80px;
   font-size: 24px;
   font-weight: bold;
   color: #333;
 }
 .explore-subtitle {
   text-align: center;
   color: #777;
   margin-bottom: 40px;
 }
 .card {
   border: none;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 30px;
 }
 .card img {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }
 .card-body {
   padding: 20px;
 }
 /* .rating {
   font-size: 14px;
   color: #777;
 } */
 .rating .badge {
   font-size: 14px;
   padding: 5px 10px;
   border-radius: 5px;
 }
 .rating .badge-primary {
   background-color: #007bff;
 }
 .rating .badge-success {
   background-color: #28a745;
 }
 .rating .badge-warning {
   background-color: #ffc107;
 }
 .price {
   text-decoration: line-through;
   color: #dc3545;
 }
 .price-new {
   color: #28a745;
 }
 .profile-img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
 }
 .profile-info {
   display: flex;
   align-items: center;
 }
 .profile-info p {
   margin: 0;
 }
 
 /* đánh giá */
 .review-card {
   margin-left: 20px;
   margin-right: 20px;
   background: #fff;
   border: 1px solid #e6e6e6;
   border-radius: 10px;
   padding: 30px;
   text-align: center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin: 10px;
   height:350px;
  
 }
 .review-card img {
  display: block; /* Đảm bảo ảnh là một khối độc lập */
  margin: 0 auto;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   object-fit: cover;
 }
 .review-card h5 {
   font-size: 18px;
   font-weight: 600;
   margin-top: 15px;
 }
 .review-card p {
   font-size: 14px;
   color: #777;
    display: -webkit-box;
       -webkit-box-orient: vertical;
       overflow: hidden;
       text-overflow: ellipsis;
       -webkit-line-clamp: 5; /* Giới hạn hiển thị 9 dòng */
 }
 .review-card .stars {
   color: #ffc107;
   margin: 5px 0;
 }
 .review-card .stars1 {
    color: #a0a0a0;
    margin: 5px 0;

  }
  .blog_room .stars {
     color: #ffc107;
     margin: 5px 0;
   }
   .blog_room .stars1 {
      color: #a0a0a0;
      margin: 5px 0;

    }
 .review-card.active {
   border: 2px solid #007bff;
 }
 .section-title {
   text-align: center;
   margin-bottom: 40px;
 }
 .section-title h2 {
   margin-top: 40px;
   font-size: 24px;
   font-weight: bold;
   color: #333;
 }
 .section-title p {
   font-size: 16px;
   color: #777;
 }

 /* footer */
 .footer {
   background-color: #f1f3f5;
   padding: 20px 0;
   margin-top: 100px;
   text-align: center;
   font-size: 14px;
   color: #6c757d;
 }
 .footer .left,
 .footer .right {
   display: inline-block;
   width: 45%;
   vertical-align: top;
 }
 .footer .left {
   text-align: left;
 }
 .footer .right {
   text-align: right;
 }
 .footer .left h5,
 .footer .right h5 {
   color: rgb(28, 87, 136);
   font-weight: bold;
 }
 .slick-dots li button:before {
     content: ""; /* Xóa dấu chấm */
 }
