.navbar {
   padding: 0.8rem;
 }
 .navbar-brand {
   font-size: 25px;
   font-weight: bold;
   color: #ffffff;
 }
 .navbar-nav .nav-link {
   color: rgb(255, 255, 255);
   margin-right: 1rem;
   font-size: 14px;
   font-weight: 600;
 }
 .navbar-nav .nav-link:hover {
   color: #232323;
 }
 .slick-slide{
    height:auto;
 }
 .navbar {
   background-color: rgb(28, 87, 136); /*Màu xám nhạt*/
   /* opacity: 0.9; */
 }
.btn-outline-secondary{
  border:1.5px solid #e4e4e4;
  color:#bfbfbf;
}